{% extends 'proyectoWebApp/base.html'%}

{% load static %}
{% block title%}Tienda{% endblock %}

{% block content %}

    <div class="tienda_max_container">
        {% for data in tienda_data %}
            <a href="{% url 'Comprar' data.price data.product data.description %}" class="tienda_min_container">
                <h2 class="tienda_products">{{data.product}}</h2>
                <p class="tienda_descriptions">{{data.description}}</p>
                <p class="tienda_prices">Precio: {{data.price}} $</p>
                <img src="proyectoWebApp/static/Media/tienda{{data.image}}" class="tienda_images">
            </a>
        {% endfor %}
    </div>

{% endblock %}