{% extends "proyectoWebApp/base.html" %}

{% load static %}
{% block title%}Diseño web{% endblock %}

{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'proyectoWebApp/img/imagenLarga.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Trabajo profesional</span>
            <span class="section-heading-lower">Calidad garantizada</span>
          </h2>
          <p class="mb-3">Django, Javascript, CSS, HTML5, boostrap, React, React-Native</p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Estamos comprometidos a darte el mejor servicio y trabajo en cuanto a desarrollo web</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}